@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/astronauta.svg);
    background-size: cover;
    background-position: center;
}

.principal{
    width: 420px;

    border: 2px solid grey;

    box-shadow: 0 0 10px black;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 30px 40px;
}

.principal h1{
    font-size: 36px;
    text-align: center;
}

.principal .caixa{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.principal input{
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;   
}

.caixa input::placeholder{
    color: #000; /* */
}

.caixa i{
    position: absolute;
    right: 20px;
    top: 50%;

    font-size: 20px;
}

.lembrame{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.lembreme label input{ 
    accent-color: white;
    margin-right: 3px;
}

.lembrame a{
    color: white;
    text-decoration: none;
}

